@model MeetingCatalogue.Models.Meeting

@{
    ViewBag.Title = "Edit meeting";
    ViewBag.ActionLabel = "Save";
    ViewBag.ShowDelete = true;
}

<h2>Edit meeting</h2>

@Html.Partial("~/Views/Meetings/_Form.cshtml", Model)

<div>
    <a href="@Url.Action("Details", "Meetings", new { id = Model.ID })" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to the meeting</a>
</div>

@section Scripts {
    @Html.Partial("~/Views/Meetings/_FormScripts.cshtml", Model)
}

@section Styles {
    @Styles.Render("~/Content/editcss")
}
