body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/
.select2-container-multi {
    width: 100%;
}

.meeting-widget {
    display: block;
    max-width: 300px;
    text-align: left;
    overflow: auto;
    margin-bottom: 16px;
}
.meeting-widget .meeting-title {
    display: block;
    font-weight: bold;
}
.meeting-widget .meeting-date {
    display: block;
    float: left;
}
.meeting-widget .meeting-location {
    display: block;
    float: right;
    font-style: italic;
    padding-left: 10px;
}
.meeting-widget .meeting-participants {
    display: block;
    clear: both;
    font-size: 90%;
}

.editable-widget {
    position: relative;
    /*min-height: 30px;*/
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 10px;
}
.editable-widget:hover {
    border-color: #ccc;
}
.editable-widget .edit-sign {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #eee;
    width: 24px;
    padding: 6px 6px 6px 6px;
}
.editable-widget:hover .edit-sign {
    visibility: visible;
}
.editable-widget p:last-child {
    margin-bottom: 0;
}
.editable-area > div > button {
    margin: 6px 0;
}